- content_for :body_classes, 'homepage '

.banner.text-center
  .container
    .col-sm-12
      .main-title
        Schmoogle
        %span.logo.fa.fa-calendar
        Planner

      .sub-header
        Scheduling simplified

      %button.btn.btn-home{ data: { toggle: 'modal', target: '#get-started' }} Get started

.container
  .col-sm-12
    .row
      .col-sm-4
        .section
          .description-icon.text-center
            .fa.fa-calendar-check-o
          .text-center
            Bacon ipsum dolor amet meatball leberkas sausage swine. Boudin andouille biltong strip steak chuck. T-bone flank kielbasa pig. Sausage landjaeger chuck drumstick. Cupim prosciutto capicola sirloin alcatra pig. Ball tip leberkas sausage, shoulder pork loin ham hock pork venison boudin.
      .col-sm-4
        .section
          .description-icon.text-center
            .fa.fa-pencil-square-o
          .text-center
            Pork loin turducken brisket andouille biltong. Landjaeger prosciutto t-bone tenderloin beef ribs boudin bresaola pancetta picanha sirloin. Landjaeger rump tri-tip pork chop pork loin. Shankle cupim flank ham hock strip steak.
      .col-sm-4
        .section
          .description-icon.text-center
            .fa.fa-users
          .text-center
            Picanha beef flank turducken ball tip pork belly pastrami kielbasa. Pork loin frankfurter meatloaf, t-bone short loin turkey drumstick shoulder leberkas pork spare ribs tail filet mignon prosciutto pastrami.

= render 'home/partials/get_started'
