- content_for :body_classes, ' event-planner '

.container
  .row
    .col-md-10.col-md-offset-1
      %h2.page-header.text-center= @event.name
      = react_component('EventsTable', event: @serialized_event, url: request.url)
