.container
  .col-md-10.col-md-offset-1
    .panel.panel-info
      .panel-heading
        %h3.panel-title Anna's 30th Birthday - 1st November

      = react_component('ParticipantsTable', users: @users)
